/* Here goes your CSS */
body {
  padding-top: 50px;
  background-color: rgba(230,230,230,1);
  color: rgb(240,240,240);
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  line-height: 95%;
  font-weight: 100;
  font-size: 1.5em;
}

ul {
  margin: auto;
}
h1, h2 {
  margin: 0;
  font-size: 2em;
}

a.navbar-brand  {
  color: white !important;
}
a.navbar-brand:hover  {
  color: rgba(255,255,255,0.7) !important;
  transition: 0.7s;
}
.starter-template {
  padding: 15px 15px;
  text-align: center;
  height: auto;
  margin-top: 3%;
}
.starter-template h1, p {
  margin: 10px auto;
}
.img-thumbnail {
  margin-bottom: 4%;
}

.starter-template-two {
  text-align: center;
  padding: 30px 15px;
}

.social-media {
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  margin-bottom: 60px;
}

.social-media li {
  padding: 1% 1%;
  margin: 1% 2%;
  color: white;
}

.social-media li a {
  color: white;
  font-size: 40px;
  background-color: transparent;
  padding: 1px 10px;
  border-radius: 5px;
}

.social-media li a:hover {
  color: white;
  background-color: white;
  color: rgb(34, 34, 34);
  transition: 0.7s;
}

.card {
  margin: 10px auto;
  width: 60%;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  text-align: center;
  height: auto;
}

.card-button {
  margin: 10px auto;
  width: 60%;
  border-radius: 10px;
  text-align: center;
  padding: 30px 15px;
}

.blue-background {
  width: 60%;
  text-align: center;
  height: 20%;
  position: relative;
  line-height: 100%;
}

a#portfolio {
  padding: 2% 10%;
  background-color: rgb(49, 206, 175);
  color: rgba(240,240,240,1);
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}
a#portfolio:hover {
  background-color: rgba(49, 206, 175, 0.8);
  padding: 2.1% 10.2%;
  transition: 0.1s;
  color: rgba(240,240,240,0.8);
}
